.dd-collapsed {
  .sidebar-icon-light-stroke {
    stroke: #fff;
  }

  .sidebar-icon-light-fill {
    fill: #fff;
  }

  .sidebar-icon-dark-stroke {
    stroke: var(--sidebar-accent-collapsed);
  }
}

.dd-dropdown-item {
  .stroke-primary {
    stroke: #afafaf;
  }
  &:hover {
    .stroke-primary {
      stroke: #192252;
    }
  }
}

